
ion-content{
    --ion-background-color:#c5d4d8;
    --ion-text-color: #104f5e;
    --ion-toolbar-color: #deeef3;
    --ion-color-primary:#3d2a0b;
    --ion-color-primary-shade:#533910;
    --ion-color-primary-tint:#b16120;
    
}