<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quiz</ion-title>
    </ion-toolbar>
  </ion-header>
  
 
   <div id="container">
  <ion-card>
    <img src="../assets/parliament-317085_1280.jpg" />
    <ion-card-header>
      <ion-card-title>Politics Quiz</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Are you ready to play a politics quiz?
    </ion-card-content>
    <ion-button routerLink="/question">Start Quiz</ion-button>
  </ion-card>
</div>
</ion-content>
